---
const year = new Date().getFullYear();
---
<div class="bg-indigo-800 max-w-full mx-auto p-10">
  <div class="flex items-center justify-center flex-col">
    <p class="text-center font-medium tracking-wide text-sm text-white p-2">HappyTravels Ltd, Copyright {year}</p>
    <p class="text-center font-medium tracking-wide text-sm text-white p-2">Built by <a class="underline" href="https://tpiros.dev">tpiros.dev</a> via <a class="underline" href="https://fullstacktraining.com">Full Stack Training Ltd.</a></p>
  </div>
</div>